


.section-one{
  height: 400px;
  width: 100vw;
  box-sizing: border-box;
  background-image: url('https://images.unsplash.com/photo-1504025468847-0e438279542c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=835&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
  
}

.logo-container{
  height: 50px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.section-one-content{
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  
}



.section-three{
 
}

.slideshow-container {
  width: 40vw;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: black;
}




.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.section-five-header{
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.section-five img{
  width: 60vw
}

.section-five-footer{
  height: 300px;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1530143311094-34d807799e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

@media(max-width: 450px ){
  .section-five-header{
    margin-top: 10px
  }

  .section-five img{
    width: 100vw
  }
}